<h1 class='h1'>Productos cargados</h1>

{{#if products.length}}
  <table class='table table-striped'>
    <thead>
      <tr>
        <th scope='col'>Nombre</th>
        <th scope='col'>Precio</th>
        <th scope='col'>Foto</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{title}}</td>
          <td>{{price}}</td>
          <td><img src='' /></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p class='txt-center'>No hay productos</p>
{{/if}}